emond.plist(5)                 File Formats Manual                emond.plist(5)

NAME
     emond.plist – config file for emond

SYNOPSIS
     emond.plist is a plist formatted file containing configuration info for the
                 emond daemon.

DESCRIPTION
     This document details the configuration parameters in an XML property list
     used by the emond daemon. The property list dictionary contains two
     sections. The config section contains the configuration information used by
     emond. The initialVariables section contains the initial data used when
     processing events.

     The keys in the config section are:

     debugLevel
              The debug level, default is 0, larger numbers increase the detail.
              The info is logged to the errorLogPath

     errorLogPath
              The path to the error log

     logEvents
              Triggers the logging of events to the eventLogPath

     eventLogPath
              The path to the event log (only present if the logEvents key is
              true)

     saveState
              Tells emond to save the accumulated state info of the event
              processing system to disk when shutting down and reload that state
              when restarting.

     The initial globals section is used to contain default site specific data
     for the rules used by emond is addition to the config data contained in the
     rules files themselves.

SEE ALSO
     plist(5), emond(8)

