com.apple.Safari.SafeBrowsing.Service(8)                 System Manager's Manual

NAME
     com.apple.Safari.SafeBrowsing.Service – Safari Safe Browsing Service

DESCRIPTION
     com.apple.Safari.SafeBrowsing.Service is the system launch agent that
     periodically updates the databases for Safari Safe Browsing Service in the
     background.

     There are no configuration options to
     com.apple.Safari.SafeBrowsing.Service, and users should not run
     com.apple.Safari.SafeBrowsing.Service manually.

